*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2C4169;
    --text-light: #F8F9FA;
    --border-color: #839760;
    --text-dark: #333;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--text-dark);
}

header {
	background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
	padding: 20px;
	border: 0.5rem solid var(--border-color);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero .data, .hero .weather {
    position: static;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0;
    border-top: 2px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin: 0;
}

.data-item, .weather-item {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 0.75rem; 
    margin-bottom: 0.25rem; 
}

.label {
    text-align: right;
}

.value {
    text-align: left; 
}

.hero .weather img {
    display: block;
    margin: 0 auto;
    max-width: 2rem;
}

footer {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    border: 5px solid var(--border-color);
}